body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: lightsteelblue;
}
a {
  color: lightsteelblue;
}
header{
  background-color: steelblue;
  color: white;
  padding: 15px;
  box-shadow: 5px 5px 5px grey;
}
footer{
  background-color: steelblue;
  color: lightsteelblue;
  padding: 15px;
  box-shadow: 5px 5px 5px grey;
}

.main {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

}
.tagging{
  width: 30%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.discovery{
  width: 60%;
  padding: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
.innerDiscovery{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 10px;
}
.taglist{
  width: 40%;
  display: flex;
  flex-direction: column;
}
.tagmap{
  width: 400px;
  display: flex;
  flex-direction: column;
}
#longitude{
  width: 90%;
  margin-bottom: 10px;
}
#latitude{
  width: 90%;
  margin-bottom: 10px;
}
#hashtag{
  width: 90%;
  margin-bottom: 10px;
}
#name{
  width: 90%;
  margin-bottom: 10px;
}
#searchterm{
  width: 80%;
  margin-bottom: 10px;
}
.taglist li{
  margin-bottom: 10px;
  background-color:steelblue;
  box-shadow: 5px 5px 5px grey;
  padding: 10px;
}
.taglist ul{
  list-style-type: none;
}